<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Add Job</h2>
    </div>
    <div class="panel-body">
        <ng-form name="jobAddForm">
            <div class="row">
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div class="form-group" ng-class="{ 'has-error': jobAddForm.jobTitle.$invalid && jobAddForm.jobTitle.$dirty }">
                        <label for="jobTitle">Job Title:</label>
                        <input type="text" id="jobTitle" name="jobTitle" class="form-control" ng-model="job.jobTitle"
                               placeholder="First Name" required>
                        <span class="help-block" ng-show="jobAddForm.jobTitle.$error.required
                             && jobAddForm.jobTitle.$dirty">{{requiredErrorMessage}}</span>

                    </div>
                </div>
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div class="form-group" ng-class="{ 'has-error': jobAddForm.lastName.$invalid && jobAddForm.lastName.$dirty }">
                        <label for="lastName">Last Name:</label>
                        <input type="text" id="lastName" name="lastName" class="form-control" ng-model="job.lastName"
                               placeholder="Last Name" required>
                        <span class="help-block" ng-show="jobAddForm.lastName.$error.required
                             && jobAddForm.lastName.$dirty">{{requiredErrorMessage}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div class="form-group" ng-class="{ 'has-error': jobAddForm.email.$invalid && jobAddForm.email.$dirty }">
                        <label for="email">Email:</label>
                        <input type="text" id="email" name="email" class="form-control" ng-model="job.email"
                               placeholder="email" required>
                        <span class="help-block" ng-show="jobAddForm.email.$error.required
                             && jobAddForm.email.$dirty">{{requiredErrorMessage}}</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div class="form-group" ng-class="{ 'has-error': jobAddForm.phoneNumber.$invalid && jobAddForm.phoneNumber.$dirty }">
                        <label for="phoneNumber">Phone Number:</label>
                        <input type="number" id="phoneNumber" name="phoneNumber" class="form-control" ng-model="job.phoneNumber"
                               placeholder="Phone Number" required>
                        <span class="help-block" ng-show="jobAddForm.phoneNumber.$error.required
                             && jobAddForm.phoneNumber.$dirty">{{requiredErrorMessage}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group" ng-class="{ 'has-error': jobAddForm.hireDate.$invalid && jobAddForm.hireDate.$dirty }">
                        <label for="hireDate">Hire Date:</label>
                        <input type="text" id="hireDate" name="hireDate" class="form-control" ng-model="job.hireDate"
                               placeholder="Hire Date" ng-pattern="datePattern" required>
                        <span class="help-block" ng-show="jobAddForm.hireDate.$error.required
                             && jobAddForm.hireDate.$dirty">{{requiredErrorMessage}}</span>
                        <span class="help-block" ng-show="jobAddForm.hireDate.$error.pattern
                             && jobAddForm.hireDate.$dirty">{{patternDateNotRespectedMessage}}</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div class="form-group" ng-class="{ 'has-error': jobAddForm.jobId.$invalid }">
                        <label for="jobId">Job:</label>
                        <select id="job" ng-model="job.jobId" name="job" class="form-control" required
                                ng-options="job.jobTitle for job in jobs track by job.jobId">
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div class="form-group" ng-class="{ 'has-error': jobAddForm.salary.$invalid && jobAddForm.salary.$dirty }">
                        <label for="salary">Salary:</label>
                        <input type="number" id="salary" name="salary" class="form-control" ng-model="job.salary"
                               placeholder="Salary" required>
                        <span class="Shelp-block" ng-show="jobAddForm.salary.$error.required
                             && jobAddForm.salary.$dirty">{{requiredErrorMessage}}</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group" ng-class="{ 'has-error': jobAddForm.commissionPct.$invalid && jobAddForm.commissionPct.$dirty }">
                        <label for="commissionPct">Commission:</label>
                        <input type="text" id="commissionPct" name="commissionPct" class="form-control" ng-model="job.commissionPct"
                               placeholder="Commission" ng-pattern="commissionPattern" required>
                         <span class="help-block" ng-show="jobAddForm.commissionPct.$error.required
                             && jobAddForm.commissionPct.$dirty">{{requiredErrorMessage}}</span>
                         <span class="help-block" ng-show="jobAddForm.commissionPct.$error.pattern
                             && jobAddForm.commissionPct.$dirty">{{patternCommisionNotRespectedMessage}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div class="form-group" ng-class="{ 'has-error': jobAddForm.departmentId.$invalid }">
                        <label for="department">Department:</label>
                        <select id="department" ng-model="job.departmentId" name="department" class="form-control" required
                                ng-options="department.departmentName for department in departments track by department.departmentId">
                        </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group" ng-class="{ 'has-error': jobAddForm.managerId.$invalid }">
                        <label for="manager">Manager:</label>
                        <select id="manager" ng-model="job.managerId" name="manager" class="form-control" required
                                ng-options="manager.firstName+' '+ manager.lastName for manager in managers track by manager.jobId">
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-7">
                    <div class="container">
                        <a class="btn btn-primary btn-lg" role="button" ng-click="reset()">Reset</a>
                        <a class="btn btn-primary btn-lg" role="button" ng-disabled="jobAddForm.$invalid" ng-click="create(job)">Save</a>
                    </div>
                </div>
            </div>
        </ng-form>
    </div>
</div>